/* we'll add some basic style here */
html {
    font-family: Helvetica, sans-serif;
    color: rgba(255,0,0,1);
}
h1 {
    font-family: monospace;
    font-size:3em;
    /* add . will ignore the change*/
}